.btn {
  border: 1px solid black;
  padding: 1rem 2rem;
  background-color: $base-color;
  border-radius: $button-rad;
  font-size: $text-button;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $helper-color;
    color: $base-color;
  }
}
.danger {
  &:hover {
    background-color: $danger;
  }
}
.delete {
  display: none;
}

nav {
  border: 1px solid black;
  @include section();
  background-color: $base-color;
  .container {
    @include flex(row, center, space-between);
    @include section(100%, 100%);
    padding: 0rem 4rem;
  }
  .btn:nth-child(2) {
    margin-left: 1.5rem;
  }
}
footer {
  @include section();
  background-color: $base-color;
  border: 1px solid black;
  @include flex();
  .copy {
    @include flex();
    height: 100%;
    h3 {
      padding: 0rem 1rem;
    }
  }
}
