.send {
  @include section(100%, 100%);
  @include flex();
  padding: 4rem 2rem;
  background-color: transparent;
}
.group {
  padding-left: 4rem;
  @include section(100%, 100%);
  @include flex(row, center, flex-start);
  font-size: $head-three;
  position: relative;
  overflow: hidden;
  label {
    width: 15%;
  }
  input {
    width: 70%;
    padding: 1rem;
    font-size: $head-two;
    border: 1px solid black;
  }
  select {
    width: 70%;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: $head-two;
  }
  .pop {
    position: absolute;
    bottom: 0%;
    left: 20%;
    visibility: hidden;
    color: $danger;
    transform: translateY(100%);
  }
}

.params {
  position: relative;
  overflow: hidden;
  .type {
    visibility: hidden;
    position: absolute;
  }
  .show {
    visibility: visible;
    animation: move 0.8s ease-in;
  }
  .group {
    padding: 3rem 0rem;
    input {
      margin-left: 4rem;
    }
  }
}
.error .pop {
  visibility: visible;
  animation: up 0.3s ease-in;
  transform: translateY(0%);
}
.error input {
  border-color: $danger;
}

@keyframes move {
  0% {
    transform: translate(200%);
  }
  85% {
    transform: translate(-10%);
  }
  95% {
    transform: translate(-3%);
  }
  100% {
    transform: translate(0%);
  }
}
@keyframes up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
