.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.box {
  width: 100%;
  height: 80vh;
}
.grid {
  display: grid;
  overflow-y: scroll;
  padding: 2rem 4rem;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 3fr));
  grid-gap: 3rem;
}
.cell {
  width: 100%;
  height: 100%;
  @include flex();
}
.center {
  @include flex();
}
.col {
  @include flex(column, center, space-around);
  @include section(100%, 100%);
}
.error_page {
  @include section(100vh, 100%);
  @include flex(column);
}
