* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-color: $secondary-color;
  color: $text-color;
  font-family: $main-font;
  height: 100vh;
  overflow: hidden;
}
button {
  border: none;
}
a {
  text-decoration: none;
  color: $text-color;
}
h1 {
  font-size: $head-one;
}
h2 {
  font-size: $head-two;
}
h3 {
  font-size: $head-three;
}
h4 {
  font-size: $head-four;
}
::-webkit-scrollbar {
  appearance: none;
  background-color: transparent;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  appearance: none;
  background-color: $helper-color;
}
