@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
@mixin section($height: 10vh, $width: 100%) {
  height: $height;
  width: $width;
}
