.product {
  @include flex(column, center, space-evenly);
  background-color: $base-color;
  border-radius: 1rem;
  width: 350px;
  height: 350px;
  box-shadow: $shadow;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  h2,
  h3 {
    pointer-events: none;
  }
  &:hover {
    transform: translateY(-5%);
    box-shadow: 0px 15px 10px rgba($color: #000000, $alpha: 0.2);
  }
  .circle {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid black;
    transition: background-color 0.3s ease-in-out;
  }
}
.check {
  .circle {
    background-color: #000000;
  }
}
