$base-color: #fff;
$secondary-color: #f3f3f3;
$text-color: rgb(70, 70, 70);
$helper-color: rgb(32, 31, 78);
$danger: rgb(250, 74, 74);
$shadow: 0 0 10px
  rgba(
    $color: #000000,
    $alpha: 0.3,
  );
$button-rad: 2rem;
$main-font: 1.5rem;
$head-one: 3rem;
$head-two: 2rem;
$head-three: 1.5rem;
$head-four: 1rem;
$text-button: 1.5rem;
