.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.box {
  width: 100%;
  height: 80vh;
}

.grid {
  display: -ms-grid;
  display: grid;
  overflow-y: scroll;
  padding: 2rem 4rem;
  height: 100%;
  width: 100%;
  -ms-grid-columns: (minmax(350px, 3fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 3fr));
  grid-gap: 3rem;
}

.cell {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 100%;
}

.error_page {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f3f3f3;
  color: #464646;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: #464646;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
          appearance: none;
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
          appearance: none;
  background-color: #201f4e;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #fff;
  border-radius: 1rem;
  width: 350px;
  height: 350px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.product h2,
.product h3 {
  pointer-events: none;
}

.product:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  -webkit-box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.2);
}

.product .circle {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid black;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.check .circle {
  background-color: #000000;
}

.btn {
  border: 1px solid black;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #201f4e;
  color: #fff;
}

.danger:hover {
  background-color: #fa4a4a;
}

.delete {
  display: none;
}

nav {
  border: 1px solid black;
  height: 10vh;
  width: 100%;
  background-color: #fff;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0rem 4rem;
}

nav .btn:nth-child(2) {
  margin-left: 1.5rem;
}

footer {
  height: 10vh;
  width: 100%;
  background-color: #fff;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

footer .copy h3 {
  padding: 0rem 1rem;
}

.send {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 2rem;
  background-color: transparent;
}

.group {
  padding-left: 4rem;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
}

.group label {
  width: 15%;
}

.group input {
  width: 70%;
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid black;
}

.group select {
  width: 70%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.group .pop {
  position: absolute;
  bottom: 0%;
  left: 20%;
  visibility: hidden;
  color: #fa4a4a;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.params {
  position: relative;
  overflow: hidden;
}

.params .type {
  visibility: hidden;
  position: absolute;
}

.params .show {
  visibility: visible;
  -webkit-animation: move 0.8s ease-in;
          animation: move 0.8s ease-in;
}

.params .group {
  padding: 3rem 0rem;
}

.params .group input {
  margin-left: 4rem;
}

.error .pop {
  visibility: visible;
  -webkit-animation: up 0.3s ease-in;
          animation: up 0.3s ease-in;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.error input {
  border-color: #fa4a4a;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(200%);
            transform: translate(200%);
  }
  85% {
    -webkit-transform: translate(-10%);
            transform: translate(-10%);
  }
  95% {
    -webkit-transform: translate(-3%);
            transform: translate(-3%);
  }
  100% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(200%);
            transform: translate(200%);
  }
  85% {
    -webkit-transform: translate(-10%);
            transform: translate(-10%);
  }
  95% {
    -webkit-transform: translate(-3%);
            transform: translate(-3%);
  }
  100% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes up {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*# sourceMappingURL=style.css.map */